streamlit==1.29.0
pandas==2.1.4
python-dotenv==1.0.1
numpy==1.26.4
sentence-transformers==2.2.2
huggingface-hub==0.17.3
torch==2.0.0
chromadb==0.4.15
langchain==0.1.16
langchain-community==0.0.36
langchain-openai==0.1.6
openai==1.29.0